$color-blue: #00838f;
$color-blue-light: #46777f;
$color-success: green;
$color-warning: #9a4d0d;
$color-less-muted: rgba(0, 0, 0, 0.8);
$color-muted: rgba(0, 0, 0, 0.54);
$color-muter: rgba(165, 158, 158, 0.64);
$color-error: #c91616;
$color-label: #525050;
$input-icon-color: #686b6b;
$base-font-size: 16px;
$small-font-size: 14px;
$table-header-bg-color: rgb(224, 242, 241);

body {
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color: #fafafa;
}
html {
  scroll-behavior: smooth;
}
.container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  margin-top: 148px;
}
.content-container {
  margin-top: 138px;
  padding: 24px;
}
.app-error-container {
  padding: 24px;
  .error {
    margin-top: 24px;
    color: $color-error;
  }
  .buttons-container {
    margin-top: 24px;
    justify-content: flex-start;
  }
}
.table {
  min-width: 320px;
  max-width: 100%;
}
.bottom-gap {
  margin-bottom: 8px;
}
.bottom-gap-2x {
  margin-bottom: 16px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.notice {
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 1.7;
}
.flex-align-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.success {
  color: $color-success;
}
.muted {
  color: $color-muted;
}
.warning {
  color: $color-warning;
}
.muted-text {
  color: $color-muted;
}
.text-right {
  text-align: right;
}
.invisible {
  visibility: hidden;
}
.ghost {
  display: none;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
}
.action-button {
  padding: 8px 16px 8px;
  color: #FFF;
  font-size: 12px;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  box-shadow: none;
  &.disabled {
    background-color: #777;
  }
}
.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  p {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
.version-container {
  flex-shrink: 0;
  height: 32px;
  margin-top: -32px;
  text-align: right;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}
.landing {
  .version-container {
    margin-top: 24px;
    text-align: center;
  }
}
.logout-container {
  margin-top: 196px;
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    width: 240px;
    border-width: 2px;
    margin-top: 16px;
  }
  .alert-container {
    margin-top: 24px;
    .MuiAlert-message {
      font-size: 16px;
    }
  }
}
@media (min-width: 699px) {
  .logout-container {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
img[disabled] {
  display: none;
}
tr:empty {
  height: 0 !important;
}
tr.selected-row {
  td {
    background-color: #f1f5f5;
    font-weight: 500 !important;
  }
}
td:empty {
  padding: 0;
  margin: 0;
}
.buttons-container {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  button {
      margin: 8px;
  }
}

.hide {
  display: none;
}
.show {
  display: block;
}
.disabled {
  opacity: 0.4;
}
button.disabled,
button.disabled:hover,
button.disabled:focus,
.btn.disabled,
.btn.disabled:hover,
.btn.disabled:focus {
  background-color: $color-muted;
  cursor: not-allowed;
  &.row {
    color: #FFF;
  }
}
.MuiTypography-h6 {
  font-size: 1.02rem !important;
}
.MuiTableCell-body {
  .MuiTypography-h6 {
    width: 100%;
    max-width: 100%;
  }
}
th.MuiTableCell-root {
  div {
    max-height: 32px;
  }
}
@media (min-width: 699px) {
  .MuiTableCell-body {
    .MuiTypography-h6 {
      width: 448px;
      max-width: 100%;
    }
  }
}
/* Make both ascending and descending sort arrows always visible */
//.MuiTableSortLabel-iconDirectionAsc ascending class
//.MuiTableSortLabel-iconDirectionDesc descending class

.MuiTableSortLabel-icon {
  opacity: 1 !important;
  visibility: visible !important;
  transform: none !important;
  svg {
    opacity: 0.6;
    &:hover {
      opacity: 1 !important;
    }
    &:first-of-type {
      position: relative;
      top: 0px;
    }
    &:last-of-type {
      position: relative;
      top: -16px;
    }
  }
}
.MuiTableSortLabel-root {
  &:hover {
    opacity: 1 !important;
    color: #444 !important;
  }
}

.MuiTableSortLabel-root {
  .up, .down {
    fill: rgb(1, 188, 245);
  }
}

.MuiTableSortLabel-root.Mui-active {
  .MuiTableSortLabel-iconDirectionAsc {
    .up {
      fill: $color-muter !important;
    }
    .down {
      fill: $color-less-muted !important;
    }

  }
  .MuiTableSortLabel-iconDirectionDesc {
    .down {
      fill: $color-muter !important;
    }
    .up {
      fill: $color-less-muted !important;
    }
  }
}

.MuiTablePagination-selectLabel {
  margin-right: 8px;
}

#patientList {
  input,
  .MuiInputLabel-formControl {
    font-size: $small-font-size;
    outline: none;
    border: 0
  }
  .main {
    tbody {
      tr {
        position: relative;
        &:hover {
          filter: brightness(0.99);
        }
        td:has(.action-button) {
          min-width: 96px;
        }
      }
    }
  }
  table {
    position: relative;
    overflow: hidden;
  }
}
#patientListPagination {
  .MuiSelect-root {
    min-width: 32px;
  }
  .MuiSelect-icon {
    right: 20px;
  }
  .MuiSelect-select.MuiSelect-select {
    padding-right: 4px !important;
  }
}

/*
 * hide the Lage Page arrow on patient list table
 */
.MuiTableRow-footer [title='Last Page'] {
  display: none !important;
}

.spinner {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #FFF;
  z-index: 9999;

  .bounceContainer {
    position: fixed;
    left: 47.5%;
    top: 45%;
    margin-left: -18px;
    margin-top: -18px;
    z-index: 999;
  }

  .bounce1, .bounce2, .bounce3 {
    width: 18px;
    height: 18px;
    margin: 5px;
    background-color: $color-blue;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

/*
 * table mobile styling
 */

@media
only screen and (max-width: 736px),
(min-device-width: 414px) and (max-device-width: 736px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, thead th, tbody td, tbody tr {
		display: block;
	}

  header + #patientList {
    margin-top: 140px;
  }

  #patientList tbody td [dataColumn]:before {
    content: attr(dataColumn);
    display: inline-block;
    margin-right: 12px;
    font-weight: 400;
    color: $color-label;
    font-size: 0.8rem;
  }

  thead {
    padding: 8px;
    tr {
      display: block !important;
      border-bottom: 2px solid $color-muter;
      padding-bottom: 24px;
      &:before {
        content: "Sort by";
        padding: 16px 16px 8px;
        font-weight: 500;
        color: $color-label;
        display: block;
        font-size: 0.85rem;
      }
    }
    th {
      display: block !important;
      background-color: #FFF !important;
      width: 80% !important;
      margin: auto;
      &.MuiTableCell-paddingCheckbox {
        padding: 0 !important;
        line-height: 0 !important;
        border-bottom: 0;
      }
      &:empty {
        padding: 0 !important;
        border-bottom: 0;
      }
    }
  }

  tbody tr {
    min-height: 280px;
    display: flex;
    flex-direction: column;
    padding: 16px 16px;
  }
  tbody tr {
    display: flex !important;
    flex-direction: column;
    padding: 16px;
    border-bottom: 2px solid $color-muter;
  }

	tbody tr td {
		/* Behave  like a "row" */
		border-bottom: 0 !important;
    padding: 24px 8px 8px !important;
		position: relative;
    width: 100% !important;
    h1, h2, h3 {
      width: 50%;
      max-width: 100%
    }
	}

  tbody tr:first-of-type td {
    border-bottom: 0;
  }

	tbody td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
    font-weight: 700;
    font-size: $small-font-size;
	}

	/*
	Label the data
	*/
  #patientList tbody td { font-weight: 500 !important; }
  tfoot .MuiTablePagination-toolbar {
    display: flex;
    flex-direction: column;
  }
}
