{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "usage",
            "corejs": 3,
            "targets": {
                "browsers": ["> 0.25%, not dead"]
            }
        }],
        ["@babel/preset-react"]
    ],
    "plugins": [
        [
        "@babel/plugin-transform-optional-chaining"
        ],
        [
        "@babel/plugin-transform-nullish-coalescing-operator"
        ],
        [
            "transform-react-jsx"
        ]
    ]
}
