{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "entry",
            "corejs": 3,
            "targets": {
                "browsers": ["> 0.25%, not dead"]
            }
        }]
    ],
    "plugins": [
        [
        "@babel/proposal-optional-chaining"
        ],
        [
        "@babel/proposal-nullish-coalescing-operator"
        ],
        [
            "transform-react-jsx"
        ],
        ["@babel/plugin-transform-runtime",
            {
                "regenerator": true,
                "corejs": 3
            }
        ]
    ]
}
