*.env
*.egg-info
patient*.env
*__pycache__
client_secrets.json
bin
env
lib
patientsearch/bin
patientsearch/dist
patientsearch/lib
patientsearch/static
patientsearch/templates/index.html
report.*
node_modules
