*.env
*.egg-info
patient*.env
*__pycache__
.coverage
.eggs
.tox
coverage.xml
client_secrets.json
bin
env
flask_session
lib
patientsearch/dist
patientsearch/lib
patientsearch/static/js
patientsearch/static/templates
patientsearch/static/*bundle*.js
patientsearch/static/favicon.ico
patientsearch/templates/index.html
report.*
node_modules
