*.egg-info
patient*.env
*__pycache__
.coverage
.tox
coverage.xml
client_secrets.json
bin
env
lib
patientsearch/dist
patientsearch/lib
patientsearch/static
patientsearch/templates/index.html
report.*
node_modules
