# docker-compose default environment file
# copy to dashboard.env and modify as necessary

#MAP_API=https://stayhome-test-api.cirg.washington.edu/api/r4/
#SERVER_NAME=localtest.me:8000

# generate long random alphanumeric string
#SECRET_KEY=

SERVER_NAME="clone-dev.cirg.washington.edu"
SECRET_KEY="kHva7D1ep6g97rFjxXMBP8lQroVdNU5BXAPrsHJ9jn3LlizmIP1OBGfTpAmWTe2i"
#MAP_API="https://fhir.cosri-demo.cirg.washington.edu/hapi-fhir-jpaserver/fhir/"
MAP_API="https://fhir.cosri-dev.cact.us.eu.org/hapi-fhir-jpaserver/fhir/"
EXTERNAL_FHIR_API=https://pdmp.cosri-dev.cact.us.eu.org/v/r2/fhir/
#EXTERNAL_FHIR_API="https://backend.cosri-demo.cirg.washington.edu/v/r2/fhir/"
#EXTERNAL_FHIR_API="https://pdmp.cosri-demo.cirg.washington.edu/v/r2/fhir/"
#SOF_CLIENT_LAUNCH_URL="https://backend.cosri-demo.cirg.washington.edu/auth/launch"
#SOF_HOST_FHIR_URL="https://fhir.cosri-demo.cirg.washington.edu/hapi-fhir-jpaserver/fhir/"
SOF_CLIENT_LAUNCH_URL="https://backend.cosri-demo.cirg.washington.edu/auth/launch"
SOF_HOST_FHIR_URL="https://fhir.cosri-dev.cact.us.eu.org/hapi-fhir-jpaserver/fhir/"
OIDC_CLIENT_SECRETS='client_secrets.json'
OIDC_ID_TOKEN_COOKIE_SECURE=False
OIDC_REQUIRE_VERIFIED_EMAIL=False
OIDC_SCOPES=['email', 'openid', 'roles']
