[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "patientsearch"
version = "1.0"

[tool.setuptools.packages.find]
include = ["patientsearch"]
