# run language-specific linters
---
name: Lint
on: [pull_request]

jobs:
  run-javascript-linters:
    name: Run javascript linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out git repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # ESLint must be in `package.json`
      - name: Install Node.js linting dependencies
        run: npm ci

      - name: Run linters
        uses: rkuykendall/lint-action@3402def6dea8dbcf0b8ec42431d9345ee3f69c4d
        with:
          eslint: true

  run-python-linters:
    name: Run python linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out git repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.11

      - name: Install Python linting dependencies
        run: pip install black flake8

      - name: Run linters
        uses: wearerequired/lint-action@v1
        with:
          black: true
          flake8: true
